*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
  display:flex;
  gap:80px;
  align-items:center;
  justify-content:center;
  background-color: #ffffff;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 800px;
  color: rgb(24, 135, 48);
  font-weight: bolder;
}
#nav{
    display: block;
    gap: 40px;
}
.navbar button{
    padding: 15px;
    background-color: green;
    color: #ffffff;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 20px;
}
#cart{
    height: 50px;
    margin: 0;
}
.navbar :hover {
    cursor: pointer;
}
h2{
    font-size: 50px;
    align-items: center;
    color: rgb(86, 91, 183);
    justify-content: center;
    display: flex;
}
#nav :hover {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 8px;
}
#place{
    font-size: 30px;
}
#search{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
  margin-top: 40px;
  
}
#srch{
    font-size: 20px;
    margin: 10px;
    background-color: rgb(41, 114, 202);
    color: #ffffff;
    padding: 10px ;
    border-radius: 15px;
    font-weight: bold;
    border-color:rgb(29, 106, 201) ;
}
#srch :hover{
    padding: 12px;
    background-color: #d20000;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 50px;
}

#row1, #row2, #row3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px 20px;
}

#row1, #row2, #row3 {
  display: flex;
  justify-content: center;
  gap: 80px;
}

/* Individual Book Card */

.column:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


.column {
  background-color: white;
  width: 260px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding-bottom: 15px; /* gives space for text and button */
}

.column img {
  width: 100%;
  height: 250px; /* fixed image height */
  object-fit: cover;
  display: block;
  border-radius: 15px 15px 0 0;
}

.column h3 {
  font-size: 20px;
  margin: 10px 0 5px;
  color: #2f3640;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column button {
  background-color: #1a9ada;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 17px;
  margin: 10px 0 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 18px;
}

.column button:hover {
  background-color: #24a72b;
  color: #ffffff;
}